<html>
<head>
<title>IdentyFish-Web</title>
<link rel="stylesheet" type="text/css" href="../static/css/style.css" media="screen" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<form action="{{ url_for('login') }}" method=post>

<!-- Save for Web Slices (IdentyFish-Web.psd) -->
<center>
<table id="Table"  height="320" border="0" >
<dl>
	<tr>
		<td>
			<center>What's the temperature now?</center>
		</td>
	</tr>
	<tr>
                <td>
			<img src="../static/images/Climan.png" align="left"></center>
		</td>
		<td>
			<center><h1 align="left">>30°</h1></center>
		</td>
		
	</tr>

	<tr>
		<td >
			<img src="../static/images/Climav.png" >
		</td>
		<td >
			<img src="../static/images/Climar.png" >
		</td>
	</tr>
</dl>
</table>


<!menubar>
<div id="under">
			<ul class="nav">
				<li>
					<a href="">
						<img src="../static/images/Bar1.png" width="25px" height="25px">
					</a>
				</li>

				<li>
					<a href="">
						<img src="../static/images/Bar2.png" width="25px" height="25px">
					</a>
				</li>
				<li>
					<a href="">
						<img src="../static/images/Bar3.png" width="25px" height="25px">
					</a>
				</li>
				<li>
					<a href="">
						<img src="../static/images/Bar4.png" width="25px" height="25px">
					</a></li>
			</ul>
		</div>


</form>
<!-- End Save for Web Slices -->
</body>
</html>
